#category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/* Uniform container */

.borderHolder {
    border: 0.1px solid #ccc;
    width: 18.5%;
    height: 300px;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    border-radius: 20px;
}

.borderHolder:hover {
    border: 0.5px solid orange;
}

.borderHolder .fa-heart {
    color: orange;
    font-size: 20px;
}

.borderHolder .fa-heart:hover {
    color: rgb(255, 255, 255);
    font-size: 20px;
    background: #ccc;
}

.borderHolder img {
    width: 100%;
}


/* Sort */

.sort {
    color: orange;
    margin: 5% 0% 5% 80%;
    border: none;
    font-size: 18px;
}

.sort option {
    color: rgb(102, 102, 102);
    border: none;
    font-size: 18px;
}

@media screen and (max-width:600px) {
    .borderHolder {
        width: 45%;
    }
    .sort {
        color: orange;
        margin: 5% 0% 5% 50%;
        border: none;
        font-size: 18px;
    }
}