#category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


/* Uniform container */

.borderHolder {
    border: 0.1px solid #ccc;
    width: 18.5%;
    height: 350px;
    background: white;
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.borderHolder:hover {
    border: 0.5px solid orange;
}

.borderHolder .fa-heart {
    color: orange;
    font-size: 20px;
    margin-top: -280px;
    margin-left: -180px;
}

.borderHolder .fa-heart:hover {
    color: rgb(255, 255, 255);
    font-size: 20px;
    background: #ccc;
}

.borderHolder img {
    width: 100%;
}


/* Sort */

.sort {
    color: orange;
    margin-left: 20px;
    border: none;
    font-size: 18px;
}

.sort option {
    color: rgb(102, 102, 102);
    border: none;
    font-size: 18px;
}


/* items add button */

.borderHolder .add {
    background: black;
    width: 200px;
    color: aliceblue;
    font-size: 20px;
    margin-top: 280px;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    border: none;
    cursor: cell;
    position: absolute;
}

.borderHolder .add:hover {
    background: black;
    color: orange;
    transition: 1s;
}


/* Category titles */

.category-title {
    padding-left: 50px;
    font-size: 60px;
}

@media screen and (max-width:600px) {
    .borderHolder {
        width: 45%;
    }
    .borderHolder .add {
        width: 100px;
        border-radius: 10px;
    }
    .sort {
        color: orange;
        margin: 5% 0% 5% 5%;
        border: none;
        font-size: 18px;
    }
    .borderHolder .fa-heart {
        margin-top: -280px;
        margin-left: -100px;
    }
}