body {
    overflow-x: hidden;
}

.contact-panel {
    width: 70%;
    margin-left: 15%;
    background: white;
    box-shadow: 2px 2px 3px rgb(0, 0, 0, 0.1);
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

form {
    margin-top: 50px;
}

.contact-form {
    flex: 1;
    background: white;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    flex-direction: column;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form form input {
    width: 70%;
    margin-left: 15%;
    color: orange;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
    font-size: 24px;
}

.contact-form form button {
    width: 40%;
    margin-left: 15%;
    background: orange;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding-left: 5px;
    font-size: 24px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.contact-form form button:hover {
    background: rgb(255, 206, 116);
    color: white;
}

.contact-details {
    background: orange;
    flex: 1;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    padding-left: 50px;
    color: white;
}

textarea {
    height: 150px;
    text-align: start;
    width: 70%;
    margin-left: 15%;
    border: 0.5px solid #ccc;
    border-radius: 5px;
}

label {
    margin-left: 15%;
}

.contact-details .fa {
    color: white;
    font-size: 24px;
}

.grid {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.grid p {
    text-align: left;
    padding-left: 10px;
}

@media screen and (max-width:600px) {
    .contact-panel {
        width: 90%;
        margin-left: 5%;
        background: white;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        margin-top: 50px;
        height: auto;
        padding-bottom: 50px;
    }
    .contact-form form {
        display: flex;
        flex-direction: column;
    }
    .contact-form form input {
        width: 90%;
        margin: 5%;
        margin-left: 0px;
        color: orange;
        border: 0.5px solid #ccc;
        border-radius: 5px;
        text-align: left;
        padding-left: 5px;
        font-size: 24px;
    }
    .contact-form form label {
        width: 90%;
        margin-left: 5%;
    }
    .contact-form form textarea {
        width: 90%;
        margin-left: 5%;
    }
    .contact-form form button {
        width: 90%;
        margin-left: 5%;
    }
    .contact-form {
        background: white;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
        display: flex;
        flex-direction: column;
    }
    .contact-details {
        height: 100%;
        border-radius: 10px;
        padding: 0px 10px 0px 10px;
    }
}