/* Reset some default styles */

body,
p {
    margin: 0;
    padding: 0;
}


/* footer content */

.footer-content {
    display: flex;
}


/* Footer styles */

footer {
    background-color: orange;
    color: #fff;
    padding: 30px 0;
}

.container-footer {
    width: 96%;
    margin: 0 auto;
    padding: 0 2%px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo img {
    max-width: 150px;
}

.footer-info {
    flex: 1;
    margin: 20px 10px;
}

.footer-info p {
    margin-bottom: 10px;
}

.footer-social a {
    margin-right: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
}


/* Media query for responsiveness */

@media screen and (max-width: 600px) {
    .container-footer {
        flex-direction: column;
        text-align: center;
    }
    .footer-info {
        flex: none;
        margin-top: 20px;
    }
    .footer-logo img {
        margin-bottom: 20px;
    }
    .footer-content {
        display: flex;
        flex-direction: column;
    }
}