body {
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
    border-bottom: 1px solid #ccc;
    display: flex;
    background: rgb(255, 251, 245);
}

#header #mySidenav {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* icons */

.fa-bars {
    font-size: 30px;
    display: none;
}

.icons {
    float: right;
    font-size: 30px;
    margin: 10px 100px;
}

.icons .fa,
.fa-regular {
    float: right;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
}

.icons .fa:hover .tool-tip,
.icons .fa-regular:hover .tool-tip {
    visibility: visible;
}

.icons .fa:hover,
.icons .fa-regular:hover {
    transition-delay: .2s;
    color: orange;
}


/* tool-tip */

.tool-tip {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    visibility: hidden;
    opacity: 0.8;
}

.container {
    background: black;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    margin-top: 20px;
}

.container-tip {
    background: black;
    width: 20px;
    height: 20px;
    position: absolute;
    transform: rotate(45deg);
    margin-top: -5px;
    border-radius: 2px;
}


/* Nav */

#header #mySidenav a {
    margin: 0px 10px;
    text-decoration: none;
    font-size: 24px;
    color: black;
}

#header #mySidenav a:hover .link-under {
    width: 100%;
    transition: 0.5s;
}

#header #mySidenav a:hover {
    transition-delay: 1s;
    font-weight: bolder;
}

.link-under {
    width: 0%;
    background: black;
    height: 2px;
    margin-top: 10px;
    transform: .5s;
}


/* logo */

.logo {
    margin-left: 20px;
}

.theme {
    background-image: url(theme.png);
    background-repeat: repeat-x;
    background-size: contain;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ccc;
}


/* Arrows */

.fa-chevron-right {
    float: right;
    opacity: 0.8;
    color: #ccc;
}


/* ooo */

@media screen and (max-width:600px) {
    .logo {
        width: 40%;
        margin-left: 10%;
    }
    .icons {
        width: 40%;
        font-size: 30px;
        margin: -50px 5% 0% 55%;
        position: absolute;
    }
    #header #mySidenav a {
        width: 90%;
        border-bottom: .5px solid #ccc;
        text-align: left;
        text-justify: auto;
        color: orange;
        margin: 10px;
    }
    #header #mySidenav {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .link-under {
        display: none;
    }
    .fa-bars {
        display: block;
        position: absolute;
        margin: 20px 5% 0% 2%;
    }
}