.home_slide {
    background: orange;
    width: 90%;
    margin-left: 5%;
}

.home-description {
    width: 90%;
    margin-left: 5%;
}

.home_slide_image {
    width: 100%;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease-in-out;
    display: flex;
}

.dots {
    width: 10px;
    height: 10px;
    background: #ccc;
    margin-top: 250px;
    margin-left: 5px;
    transition: 0.5s;
}

.active {
    background: orange;
    width: 40px;
}

@media screen and (max-width:600px) {
    .home_slide {
        background: orange;
        width: 100%;
        margin-left: 0%;
    }
    .home_slide_image {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 40%;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        transition: 0.5s ease-in-out;
        display: flex;
    }
    .dots {
        width: 10px;
        height: 10px;
        background: #ccc;
        margin-top: 150px;
        margin-left: 5px;
        transition: 0.5s;
    }
    .active {
        background: orange;
        width: 40px;
    }
    .home-description {
        width: 90%;
        margin-left: 5%;
    }
}