#loaders {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: none;
    opacity: 0.8;
    z-index: 186;
}

.loadersAdd {
    display: none;
    z-index: 250;
    padding-left: 5px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: absolute;
}

.fa-check {
    color: orange;
}

.loadersAdd .loader {
    border: 5px solid black;
    /* Light grey */
    border-top: 5px solid orange;
    /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin .5s linear infinite;
}

#loaders .count {
    text-align: center;
    margin: auto;
    position: absolute;
    z-index: 105;
    /* background: black; */
    border-radius: 50%;
    font-size: 80px;
    padding: 30px;
    width: 135px;
    height: 135px;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 5px solid white;
    /* Light grey */
    border-top: 5px solid orange;
    /* Blue */
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin .5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}