/* <div class="products-panel">
                <div class="slide">
                <i class="fa-solid fa-chevron-left"></i>
                <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div> */

.products {
    display: flex;
    width: 90%;
    margin-left: 5%;
    height: 500px;
}

.products-panel {
    width: 30%;
    height: 300px;
    margin: 20px;
    background: white;
    border-radius: 10px;
}

.products-panel .fa {
    color: white;
    font-size: 30px;
    margin-top: 135;
}

.left {
    float: left;
    background: #ccc;
    padding: 5px;
}

.right {
    float: right;
    background: #ccc;
    padding: 5px;
}