/* Header */

.content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* The sticky class is added to the header with JS when it reaches its scroll position */

.sticky {
    position: fixed;
    top: -20px;
    width: 100%;
    height: 100px;
    background: orange;
    transition: 1s;
    z-index: 180;
    color: white;
    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.1);
}

.sticky a {
    color: white;
}

.LinkColor {
    color: white;
}

.makeWhite {
    background: white;
    background-image: url(logo1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    margin-top: 0px;
    height: 100px;
    left: 0px;
}

@media screen and (max-width:600px) {
    .newIcons {
        top: 100px;
    }
    .newIcons .fa:hover,
    .newIcons .fa-regular:hover {
        color: black;
    }
    .cartNumber {
        background: white;
        color: orange;
        border: 2px solid orange;
    }
    .makeWhite {
        background-position-y: 25px;
    }
}


/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */

.sticky+.content {
    padding-top: 102px;
}