.text-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 400px;
    margin-bottom: 50px;
}

.text-title {
    height: 30px;
    padding: 10px;
    width: 50%;
    background: white;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    font-size: 26px;
    border-radius: 5px;
    border-left: 5px solid orange;
    transition: 1s;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.text-title .fa {
    display: block;
    margin-right: 20px;
    text-align: justify;
    transition: 0.5s;
    transform: rotate(90deg);
}

.text-paragraph {
    width: 50%;
    background: white;
    padding: 10px 10px 40px 10px;
    border-left: 5px solid rgb(255, 207, 50);
    display: none;
    transition: 1s;
    border-bottom: 0.5px solid rgb(211, 211, 211);
    border-right: 0.5px solid rgb(211, 211, 211);
    margin-bottom: 20px;
}


/* Display none */

.no_display {
    height: 30px;
    padding: 10px;
    width: 50%;
    background: white;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    font-size: 26px;
    border-radius: 5px;
    border-left: 5px solid orange;
    transition: 1s;
    cursor: pointer;
    border-bottom: 0.5px solid #ccc;
    display: none;
    color: orange;
}


/* Items descriptions */

.description_items {
    color: rgb(109, 109, 109);
    margin-left: 20px;
    font-size: 24px;
    margin-top: 20px;
}

.no_display .fa {
    display: block;
    margin-right: 20px;
    text-align: justify;
    transition: 0.5s;
    transform: rotate(0deg);
    color: orange;
}


/* Adding items */

.add_item {
    background: black;
    color: white;
    padding: 5px 10px;
    font-size: 24px;
    border: none;
    margin-top: 295px;
    border-radius: 10px;
    margin-left: 20px;
    cursor: cell;
    position: absolute;
}

@media screen and (max-width:600px) {
    .text-details {
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .text-title,
    .no_display {
        height: 30px;
        padding: 10px;
        width: 90%;
        font-size: 20px;
    }
    .text-paragraph {
        padding: 10px;
        width: 90%;
        padding: 10px 10px 40px 10px;
    }
    .description_items {
        color: rgb(109, 109, 109);
        text-align: center;
        font-size: 24px;
    }
    .add_item {
        margin-top: 310px;
        border-radius: 10px;
        cursor: cell;
    }
}